{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/exception.css') }}">
{% endblock %}

{% block body %}
    <div class="error-page">
        <div>
            <h1>{{ status_code }}</h1>
            <h2>Oops! An Error Occurred</h2>
            <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
        </div>

        <div class="canvas">
            <svg width="340px" height="82px" viewBox="0 0 340 82" id="athlete">
                <circle id="ball" fill="#25aae1" cx="333" cy="41" r="7"></circle>
                <circle id="head" fill="white" cx="41" cy="6" r="6"></circle>
                <path d="M34.1626983,14.8622737 C35.396496,13.7564214 37.2931571,13.8601417 38.3990093,15.0939395 C39.5048615,16.3277372 39.4011412,18.2243982 38.1673435,19.3302505 C29.8257854,26.8067846 29.4493534,41.3194559 38.1078434,48.6783711 C39.3703234,49.7513623 39.5239345,51.6446358 38.4509432,52.9071158 C37.377952,54.1695959 35.4846785,54.3232069 34.2221985,53.2502157 C22.7056821,43.4622426 23.1924729,24.6948809 34.1626983,14.8622737 Z" id="body" fill="white" fill-rule="nonzero"></path>
                <path d="M6.74448494,55.5571751 C6.68666156,57.2130201 5.29745891,58.5084725 3.64161397,58.4506491 C1.98576903,58.3928257 0.690316602,57.0036231 0.748139981,55.3477782 L0.961910368,49.2261952 C1.01973375,47.5703503 2.4089364,46.2748978 4.06478134,46.3327212 L18.4941245,46.836605 C20.1499695,46.8944284 21.4454219,48.283631 21.3875985,49.9394759 C21.3297751,51.5953209 19.9405725,52.8907733 18.2847276,52.8329499 L6.85355684,52.4337647 L6.74448494,55.5571751 Z" id="leg_down" fill="white" fill-rule="nonzero"></path>
                <path d="M6.74448494,55.5571751 C6.68666156,57.2130201 5.29745891,58.5084725 3.64161397,58.4506491 C1.98576903,58.3928257 0.690316602,57.0036231 0.748139981,55.3477782 L0.961910368,49.2261952 C1.01973375,47.5703503 2.4089364,46.2748978 4.06478134,46.3327212 L18.4941245,46.836605 C20.1499695,46.8944284 21.4454219,48.283631 21.3875985,49.9394759 C21.3297751,51.5953209 19.9405725,52.8907733 18.2847276,52.8329499 L6.85355684,52.4337647 L6.74448494,55.5571751 Z" id="leg_up" fill="white" fill-rule="nonzero"></path>
            </svg>
        </div>
    </div>
{% endblock %}