{% extends 'equipes/layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>CRÉATION ÉQUIPE :</h1>
        <div class="jumbotron" style="color:black;">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn_equipe btn" type="submit" value="Create">CRÉER</button>
            {{ form_end(form) }}

            <a href="{{ path('equipes_index') }}"><button class="btn_equipe btn">RETOUR À LA LISTE</button></a>

        </div>
    </div>
{% endblock %}
