

{% block stylesheet %}



<link rel="stylesheet" href="./assets/css/menu.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->

{% endblock %}


{% block body %}
<section>
  <h1 class="text-center">Menu</h1>
  <div class="row center-block">
    <div class="col-xs-6">    <!-- METTRE LES PHOTOS + BACKGROUND DANS LE CSS -->
      <a href="#"><img src="http://via.placeholder.com/1000x1000" alt="Gestion d'équipe"></a>
    </div>
    <div class="col-xs-6">
      <a href="#"><img src="http://via.placeholder.com/1000x1000" alt="menu partie"></a>
    </div>
  </div>

</section>






{% endblock %}


{% block javascript %}
<script src="../assets/js/menu.js"></script>




{% endblock %}
