{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/menu.css') }}">
{% endblock %}


{% block body %}
    <section>
        <div class="container-fluid">
            <h1 class="text-center">MENU</h1>

            <div class="row">
                <div class="col-xs-6 text-center">    <!-- METTRE LES PHOTOS + BACKGROUND DANS LE CSS -->
                    <a href="{{ path('equipes_index') }}">
                      <img class="img-responsive"
                      src="{{ asset('build/images/equipe_image.5430d66b.jpeg') }}"
                      alt="Gestion d'équipe"></a>
                </div>
                <div class="col-xs-6 text-center">
                    <a href="#"><img class="img-responsive" src="{{ asset('build/images/stats_image.05b74e1e.jpeg') }}" alt="menu partie"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 text-center">    <!-- METTRE LES PHOTOS + BACKGROUND DANS LE CSS -->
                    <a href="#"><img src="http://via.placeholder.com/4000x3000" alt="Gestion d'équipe"></a>
                </div>
                <div class="col-xs-6 text-center">
                    <a href="#"><img src="http://via.placeholder.com/4000x3000" alt="menu partie"></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
