// Colors variables :
$cian: #53e2e2;
$darkcian: #0ba2a3;
$blue: #25aae1;

.container_boutons {
  margin-top: 10vh;
}

.creer_compte p, .use_appli p, .acces_appli p {
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */;
  transition-timing-function: linear;
}

.creer_compte:hover  p, .use_appli:hover p, .acces_appli:hover p {
  font-size: 4.7rem;
  color: white;
}

.boutons_choix {
  opacity: 0.8;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-image: linear-gradient(to right bottom, $cian, $darkcian, $blue);
  font-size: 4.3rem;
  color: black;
  width: 100%;
  height: 50vh;
  padding-top: 15vh;
  text-align: center;
  text-transform: uppercase;
  text-shadow: black;
  border:none;
}

.btn_padding {
  padding: 10vh;
}