.navbar-brand > img {
  height: 80px;
}

.navbar {
  min-height: 112px;
  border-radius: 0;
}

th {
  background-color: #0092ca;
  width: 20%;
}

tr > td {
  color : black;
}

li > a {
  text-align: right;
}

#appbundle_equipes_entraineurId,
#appbundle_equipes_entraineurNomClub,
#appbundle_equipes_championnat,
#appbundle_equipes_categorie,
#appbundle_equipes_numEquipe {
  width:100%;
}