$cian: #53e2e2;
$darkcian: #0ba2a3;

.verticalcenter {
  line-height: 14vh;
  vertical-align: middle;
}

body {
  text-align: center;
}

a:link {
  text-decoration: none;
}

p {
  font-weight: bold;
  font-size: 1.6vw;
  color: white;
}

#resume {
  color: white;

}

.yellow_pad {
  background: linear-gradient(to bottom right, gold, goldenrod);
  height: 14vh;
}

.green_pad {
  background: linear-gradient(to bottom right, green, black);
  height: 14vh;
}

.purple_pad {
  background: linear-gradient(to bottom right, purple, black);
  height: 14vh;
}

.adverse_pad {
  background: linear-gradient(to bottom right, gray, black);
  height: 14vh;
  line-height: 14vh;
  vertical-align: middle;

}

.yellowmiddle_pad {
  background: linear-gradient(to bottom right, gold, goldenrod);
  height: 14vh;
}

.purplemiddle_pad {
  background: linear-gradient(to bottom right, purple, black);
  height: 14vh;
}

.purplebig_pad {
  background: linear-gradient(to bottom right, purple, black);
  height: 14vh;
}

.redmiddle_pad {
  background: linear-gradient(to bottom right, #eb1d12, black);
  height: 14vh;
}

.middle_pad {
  background: linear-gradient(to bottom right, gray, black);
  height: 14vh;
}

/* --------------------------------
 *
 * Adverse pad counter
 *
 *-------------------------------- */

.counter-count {
  font-weight: bold;
  color: white;
  font-size: 1.7vw;
}

/* --------------------------------
 *
 * Timer
 *
 *-------------------------------- */


@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.t-center {
  text-align: center;
}

.m-wrap {
  color: white;
  .o-watch-wrap {
    .o-timer {
      @extend .t-center;
      font-size: 4vw;
    }
  }
}

/* --------------------------------
 *
 * Responsive
 *
 *-------------------------------- */


  .textWrap {
    overflow-wrap: break-word;
    line-height: 5vh;
  }


.col-xs-1 {
  padding-left: 1px;
  padding-right: 1px;
}