$cian: #53e2e2;
$darkcian: #0ba2a3;

.verticalcenter {
  line-height: 14vh;
  vertical-align: middle;
}

body {
  text-align: center;
}

a:link
{
  text-decoration:none;
}

p {
  font-weight: bold;
  font-size: 17px;
  color: white;
}

.logo {
  height: 80px;
  float: left;
  padding-bottom: 20px;
}

#resume {
  color : $darkcian;

}

.yellow_pad {
  background: linear-gradient(to bottom right, gold, goldenrod);
  height: 14vh;
}

.green_pad {
  background: linear-gradient(to bottom right, green, black);
  height: 14vh;
}

.purple_pad {
  background: linear-gradient(to bottom right, purple, black);
  height: 14vh;
}

.adverse_pad {
  background: linear-gradient(to bottom right, gray, black);
  height: 14vh;
}

.yellowmiddle_pad {
  background: linear-gradient(to bottom right, gold, goldenrod);
  height: 14vh;
}

.purplemiddle_pad {
  background: linear-gradient(to bottom right, purple, black);
  height: 14vh;
}

.purplebig_pad {
  background: linear-gradient(to bottom right, purple, black);
  height: 14vh;
}

.redmiddle_pad {
  background: linear-gradient(to bottom right, #eb1d12, black);
  height: 14vh;
}

.middle_pad {
  background: linear-gradient(to bottom right, gray, black);
  height: 14vh;
}

/* --------------------------------
 *
 * Adverse pad counter
 *
 *-------------------------------- */

.counter-count {
  font-weight: bold;
  color: white;
  font-size: 17px;
}

/* --------------------------------
 *
 * Timer
 *
 *-------------------------------- */

// MY MIXINS
@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// THE CSS

.t-center {
  text-align: center;
}

.m-wrap {
  color: white;
  .o-watch-wrap {
    .o-timer {
      @extend .t-center;
      font-size: 50px;
    }
  }
}

/* --------------------------------
 *
 * Modal Window
 *
 *-------------------------------- */

@mixin popup {
  display: none;
  z-index: 1000;
  text-align: center;
  background: black;
  padding: 30px;
  width: 200px;
  height: 180px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  box-shadow: 0 0 125px 0 rgba(0, 0, 0, 1),
  0 0 10000px 500px rgba(0, 0, 0, .75);
  a {
    color: white;
  }
  label {
    color: white;
  }
}

#popup {
  @include popup
}

#popup2 {
  @include popup
}

#popup3 {
  @include popup
}

#popup4 {
  @include popup
}
