.brand-logo {
  width: 30vh;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .img {
    padding-left: 0;
  }
}

.checkbox {
  color: white;
}

.global{
  font-family: 'Quantico', sans-serif;
  text-transform: uppercase;
  background-size: cover;
  background-position: center center;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
  position: absolute;
}
.global:after{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";

}
.global .container{
  z-index: 3;
  position: relative;
}
.global .card{
  background: transparent;
}
a, a:hover{
  color: #fff;
  text-decoration: underline;
}
@media (min-width:576px){
  section{
    padding: 40px 0px;
  }
  .hero .card .card-block{
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width:576px){
  section{
    padding: 20px;
  }
}
.bg-alt {
  background-color: white;
}

.form-group input {
  text-align: center;
}

.form-control{
  height: 30px;
  font-size: 16vh;
  background-color: white;
  border-color: white;
  color: #FFFFFF;
  padding-bottom: 3rem;
}
.form-control:focus {
  border-color: #FFFFFF;
  background-color: lightgrey;
  color: black;
}
.border-none{
  border: none !important;
  border-color: transparent !important;
}

.custom-control-input:checked~.custom-control-indicator {
  color: #fff;
  background-color: #ff5722;
  outline-color: #ff5722;
}
.content-divider.center {
  text-align: center;
}
.content-divider {
  position: relative;
  z-index: 1;
}
.content-divider > span, .content-divider > a {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 2px 12px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
}
.content-divider > span:before, .content-divider > a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  background-color: #ddd;
  width: 100%;
  z-index: -1;
}




.erreurs {
  color: white;
}


// the ~ allows you to reference things in node_modules
@import '~bootstrap-sass/assets/stylesheets/bootstrap';