// customize some Bootstrap variables
$brand-primary: #0092ca;

// the ~ allows you to reference things in node_modules
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Baumans');

body {
  background-image: radial-gradient(circle, #000000, #111111, #1b1b1b, #252525, #303030);
  font-family: 'Baumans', cursive;
  font-weight: bold;
  color: white;
}

.navbar-brand > img {
  height: 80px;
}

.navbar {
  min-height: 112px;
  border-radius: 0;
}

.accueil_connexion {
  font-size: 3rem;
}

.deco {
  opacity: 0.8;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #2b95d1;
  font-size: 3rem;
}