// customize variables
$cian: #53e2e2;
$darkcian: #0ba2a3;
$blue: #25aae1;


// the ~ allows you to reference things in node_modules
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Baumans');

body {
  background-image: radial-gradient(circle, #000000, #111111, #1b1b1b, #252525, #303030);
  font-family: 'Baumans', cursive;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
}

.logo {
  height:10vh;
  vertical-align: center;
}

header {
  line-height: 13vh;
  vertical-align: center;
  width:100%;
}

.btn-style {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: $darkcian;
  color: black;
  font-size:20px;
}
.btn-style:hover {
  color:white;
}
