$cian: #53e2e2;
$darkcian: #0ba2a3;
$blue: #25aae1;

/* SCOREBOARD */

.score {
  border-radius: 5px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color:  rgba(0, 0, 0, 0.2);
}

p {
  font-size: 2vw;
  color: white;
}
span {
  color: $cian;
  font-size: 3vw;
}

/* BOX */

.statsshow {
  position: inline-block;
  z-index: 1;
  height: 500px;
  max-width: 600px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.progress {
  height: 30px;
}

.progress p {
  font-size: 20px;
  text-align: center;
  margin-top: 4px;
}

.progress-bar-info {
  background-color: $cian;
}

.progress-bar-adv {
  background-color: $darkcian;
}

.progress-bar-info-green {
  background-color: green;
}

.progress-bar-adv-red {
  background-color: red;
}

.glyphicon {
  font-size: 30px;
  color: $blue;
}

a {
  color: white;
}

a:hover, a:focus {
  color: black;
  text-decoration: none;
}





/* HISTOGRAMMES */

/** Histo equipe **/

.col-md-5{
  margin-bottom: 50px;
}


#chart {
  width: 30vw;
  height: 40vh;
  margin: 30px auto 0;

}

#chart .numbers {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  position: relative;
}

#chart .numbers .max {
  bottom: 100%;
}

#chart .numbers .half {
  bottom: 50%;
}

#chart .numbers .zero {
  bottom: -1px;
}

#chart .numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 29px;
  border-bottom: 1px solid #444;
  bottom: 30px;
  position: absolute;
  right: 0;
  width: 30px;
}

#chart .numbers li:last-child {
  height: 30px;
}

#chart .numbers li span {
  color: #eee;
  position: absolute;
  bottom: 0;
  right: 10px;
}

#chart .bars {
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  width: 190;
  height: 100%;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 1px #444;
}

#chart .bars li {
  flex: auto;
  height: 100%;
  margin: 0;
  text-align: center;
  position: relative;
}

#chart .bars li .bar {
  width: 80%;
  background: $darkcian;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40%;
  height: 0;
  transition: height 1s;
}

#chart .bars li .per {
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  top: -25px;
}

#chart .bars li span {
  color: #eee;
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
}

/** Histo adversaire **/

#chart {
  width: 30vw;
  height: 40vh;
  margin: 30px auto 0;

}

#chart .numbers {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  position: relative;
}

#chart .numbers .max {
  bottom: 100%;
}

#chart .numbers .half {
  bottom: 50%;
}

#chart .numbers .zero {
  bottom: -1px;
}

#chart .numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 29px;
  border-bottom: 1px solid #444;
  bottom: 30px;
  position: absolute;
  right: 0;
  width: 30px;
}

#chart .numbers li:last-child {
  height: 30px;
}

#chart .numbers li span {
  color: #eee;
  position: absolute;
  bottom: 0;
  right: 10px;
}

#chart .bars li span {
 font-size: 1vw;
}

#chart .barsi {
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  width: 190;
  height: 100%;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 1px #444;
}

#chart .barsi li {
  flex: auto;
  height: 100%;
  margin: 0;
  text-align: center;
  position: relative;
}

#chart .barsi li .bari {
  width: 20%;
  background: $darkcian;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40%;
  height: 0;
  transition: height 1s;
}

#chart .barsi li .peri {
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  top: -25px;
}

#chart .barsi li span {
  color: #eee;
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
}



