{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/style_clavier.css') }}">
{% endblock %}

{% block body %}
    <body>
    <div class="container">


        <div class="m-wrap tx">
            <div class="o-watch-wrap">
                <div class="watch-ui">
                    <div class="o-ring">
                        <div class="o-timer-wrap">
                            <div class="ring-wrap">
                                <svg class="c-t" width="200" height="200">
                                    <circle class="c-c" cx="90" cy="100" r="97.5" transform="rotate(-90, 95, 95)"/>
                                </svg>
                            </div>
                            <div class="o-timer">
                                <span class="t-time"></span>

                            </div>
                        </div>
                        <div class="t-options">
                    <span class="t-options-time">
					<span class="btn b-dec o-opt-btn b-revc glyphicon glyphicon-play" aria-hidden="true"></span>
                    <span class="o-opt-btn display"></span>
                    <span class="btn b-inc o-opt-btn glyphicon glyphicon-play" aria-hidden="true"></span>
                    </span>
                        </div>
                    </div>
                    <div class="o-controllers">
                        <button class="btn button sp-btn repeat-btn ">
                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                        </button>
                        <button class="btn button sp-btn pause-btn ">
                            <span class="in-btn glyphicon glyphicon-pause" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="keyboard">
            <div class="row horizontalcenter">
                <div value="Adversaire" data-color="red" class="joueur adverse_pad counter-click">
                    <p>ADVERSAIRE<br></p>
                    <div class="counter-count">0</div>
                </div>
                <a href="#" class="faute">
                    <div value="Faute" data-color="red" class="reset yellowmiddle_pad verticalcenter pads">
                        <p>FAUTE<br></p>
                    </div>
                </a>
                <div id="popup">
                    <div class="row">
                        <a href="#" class="faute">
                            <div value="Faute" data-color="red" class="reset yellow_pad actionX verticalcenter pads">
                                <p>FAUTE</p>
                            </div>
                        </a>
                        <a href="#" class="faute">
                            <div value="Jaune" data-color="red" class="reset yellow_pad actionX verticalcenter pads">
                                <p>JAUNE</p>
                            </div>
                        </a>
                        <a href="#" class="faute">
                            <div value="Rouge" data-color="red" class="reset yellow_pad actionX verticalcenter pads">
                                <p>ROUGE</p>
                            </div>
                        </a>
                        <a href="#" class="faute">
                            <div value="Penalty" data-color="red" class="reset yellow_pad actionX verticalcenter pads">
                                <p>PENALTY</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div value="TOUCHE" data-color="red" class=" reset yellow_pad actionX verticalcenter pads">
                    <p>TOUCHE</p>
                </div>
                <div value="CORNER" data-color="red" class="reset yellow_pad actionX verticalcenter pads ">
                    <p>CORNER</p>
                </div>
                <div value="5M50" data-color="red" class="reset yellow_pad actionX verticalcenter pads">
                    <p>5M50</p>
                </div>
                <div value="Hors jeu" data-color="red" class="reset yellow_pad actionX verticalcenter pads">
                    <p>H.J</p>
                </div>
            </div>
            <div class="row horizontalcenter">
                <div value="Joueur1" data-color="#00c253" class=" reset green_pad joueur verticalcenter pads">
                    <p>1</p>
                </div>
                <div value="Joueur 2" data-color="#00c253" class=" reset green_pad joueur verticalcenter pads">
                    <p>2</p>
                </div>
                <div value="Joueur 3" data-color="#00c353" class=" reset green_pad joueur verticalcenter pads">
                    <p>3</p>
                </div>
                <div value="Joueur 4" data-color="#00c253" class=" reset green_pad joueur verticalcenter pads">
                    <p>4</p>
                </div>
                <div value="Centre" data-color="purple" class="action reset action purplemiddle_pad verticalcenter pads">
                    <p>CENTRE</p>
                </div>
                <div value="Tir cadré" data-color="purple" class="reset purplemiddle_pad action verticalcenter pads">
                    <p>TIR CADRÉ</p>
                </div>
                <div value="Tir non cadré" data-color="red" class="actionX actionX reset redmiddle_pad verticalcenter pads">
                    <p>TIR NON CADRÉ</p>
                </div>
            </div>
            <div class="row horizontalcenter">
                <div value="Joueur5" data-color="#00c353" class="reset green_pad joueur verticalcenter pads">
                    <p>5</p>
                </div>
                <div value="Joueur6" data-color="#00c353" class="reset green_pad joueur verticalcenter pads">
                    <p>6</p>
                </div>
                <div value="Joueur7" data-color="#00c353" class="reset green_pad joueur verticalcenter pads">
                    <p>7</p>
                </div>
                <div value="Joueur8" data-color="#00c253" class="reset green_pad joueur verticalcenter pads">
                    <p>8</p>
                </div>
                <div value="Passe longue" data-color="purple" class="reset action purplemiddle_pad verticalcenter pads">
                    <p>PASSE LONGUE</p>
                </div>
                <div value="Drible reussi" data-color="purple" class=" actionDR reset purplemiddle_pad verticalcenter pads">
                    <p>DRIBBLE REUSSI</p>
                </div>
                <div value="" data-color="red" class="actionX reset redmiddle_pad verticalcenter pads">
                    <p>DRIBBLE ECHOUÉ</p>
                </div>
            </div>
            <div class="row horizontalcenter">
                <div value="Joueur9" data-color="#00c253" class="reset green_pad joueur verticalcenter pads">
                    <p>9</p>
                </div>
                <div value="Joueur10" data-color="#00c253" class="reset green_pad joueur verticalcenter pads">
                    <p>10</p>
                </div>
                <div value="Joueur11" data-color="#00c253" class="reset green_pad joueur verticalcenter pads">
                    <p>11</p>
                </div>
                <div value="Joueur12" data-color="#00c253" class="reset green_pad joueur verticalcenter pads">
                    <p>12</p>
                </div>
                <a href="#" class="but">
                    <div value="" data-color="purple" class="reset purplebig_pad verticalcenter pads">
                        <p>BUT</p>
                    </div>
                </a>
                <div id="popup2">
                    <div class="row">
                        <a href="#" class="but">
                            <div value="tete but" data-color="#ff0011" class="reset purple_pad verticalcenter pads">
                                <p>TETE</p>
                            </div>
                        </a>
                        <a href="#" class="but">
                            <div value="reprise but" data-color="#ff0011" class="reset purple_pad verticalcenter pads">
                                <p>REPRISE</p>
                            </div>
                        </a>
                        <a href="#" class="but">
                            <div value="poteau but" data-color="#ff0011" class="reset purple_pad verticalcenter pads">
                                <p>POTEAU</p>
                            </div>
                        </a>
                        <a href="#" class="but">
                            <div value="tir cadré but" data-color="#ff0011" class="reset purple_pad ">
                                <p>TIR CADRÉ</p>
                            </div>
                        </a>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">CONFIRMER LE BUT</label>
                        </div>
                    </div>
                </div>
                <div value="tir bloqué" data-color="red" class="reset actionX redmiddle_pad verticalcenter pads">
                    <p>TIR BLOQUÉ</p>
                </div>
            </div>
            <div class="row horizontalcenter">
                <div value="Joueur13" data-color="#00c253" class="reset green_pad joueur verticalcenter pads">
                    <p>13</p>
                </div>
                <div value="Joueur14" data-color="#00c253" class="reset green_pad joueur verticalcenter pads">
                    <p>14</p>
                </div>
                <div value="Joueur15" data-color="#00c253" class="reset green_pad joueur verticalcenter pads">
                    <p>15</p>
                </div>
                <div value="Joueur16" data-color="#00c253" class="reset green_pad joueur verticalcenter pads">
                    <p>16</p>
                </div>
                <a href="#" class="mi-temps">
                    <div value="Mi-temps" data-color="#ff0011" class="reset middle_pad pause-btn verticalcenter pads">
                        <p>MI-TEMPS </p>
                    </div>
                </a>
                <div id="popup3">
                    <div class="row">
                        <a href="#" class="mi-temps">
                            <div value="" data-color="#ff0011" class="yellow_pad actionX">
                                <p>FIN MT1</p>
                            </div>
                        </a>
                        <a href="#" class="mi-temps">
                            <div value="" data-color="#ff0011" class="yellow_pad actionX">
                                <p>FIN MT2</p>
                            </div>
                        </a>
                        <a href="#" class="mi-temps">
                            <div value="" data-color="#ff0011" class="yellow_pad actionX">
                                <p>PROLONGATION</p>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="#" class="fin-match">
                    <div value="" data-color="#ff0011" class="reset middle_pad pause-btn verticalcenter pads">
                        <p>FIN DE MATCH</p>
                    </div>
                </a>
                <div id="popup4">
                    <div class="row">
                        <p>CONFIRMER ?</p>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="fin-match"><span class="glyphicon glyphicon-remove"
                                                                aria-hidden="true"></span></a>
                        </div>

                        <div class="col-xs-6">
                            <a href="#" class="fin-match"><span class="glyphicon glyphicon-ok"
                                                                aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </body>
{% endblock %}

    {% block javascripts %}
        <!-- here you link to the specific JS files needed by the current page -->
        <script src="{{ asset('build/clavier.js') }}"></script>
    {% endblock %}
