{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="col-xs-6 col-xs-offset-3 text-center">
            <h2>DIDACTICIEL</h2>
            <p>Ici mettre les explications d'utilisation.</p>
        </div>
    </div>
{% endblock %}