<div class="score col-xs-12 text-center">
    <p>
        {% if equipe.adverse is defined and equipe.adverse is not same as ("") %}{{ equipe.adverse }}{% else %}adversaire{% endif %}
        - {{ entraineur.nomClub }}
        </br>
        <span id="butadv">0</span> - <span id="butclub">0</span>
    </p>
</div>