{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/cpa.css') }}">
{% endblock %}

{% block body %}
<body>

    <div class="container-fluid">
        <ul class="score-board">
            <li class="team-home">RCSA</li>
            <li class="score">20 - 0</li>
            <li class="team-visitor">FCB</li>
            <li class="info">06/06/06</li>
        </ul>
    </div




    <div class="stats">
        <div class="statsshow">
            <h3><a href="#">CPA</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 40%">
                    <p>40%</p>
                </div>
                <div class="progress-bar progress-bar" style="width: 60%">
                    <p>60%</p>
                </div>
            </div>



            <h3><a href="#">5m50</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 99%">
                    <p>99%</p>
                </div>
                <div class="progress-bar progress-bar" style="width: 1%">
                    <p>1%</p>
                </div>
            </div>




            <h3>Touches</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 52%">
                    <p>52%</p>
                </div>
                <div class="progress-bar progress-bar" style="width: 48%">
                    <p>48%</p>
                </div>
            </div>



            <h3>Hors-jeux</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 10%">
                    <p>10%</p>
                </div>
                <div class="progress-bar progress-bar" style="width: 90%">
                    <p>90%</p>
                </div>
            </div>

            <h3><a href="#">Corner</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 40%">
                    <p>40%</p>
                </div>
                <div class="progress-bar progress-bar" style="width: 60%">
                    <p>60%</p>
                </div>
            </div>



            <h3><a href="#">Fautes</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 99%">
                    <p>99%</p>
                </div>
                <div class="progress-bar progress-bar" style="width: 1%">
                    <p>1%</p>
                </div>
            </div>




            <h3>Cartons Jaunes</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 52%">
                    <p>52%</p>
                </div>
                <div class="progress-bar progress-bar" style="width: 48%">
                    <p>48%</p>
                </div>
            </div>



            <h3>Cartons Rouges</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 10%">
                    <p>10%</p>
                </div>
                <div class="progress-bar progress-bar" style="width: 90%">
                    <p>90%</p>
                </div>
            </div>


        </div>
    </div>

</body>




{% endblock %}


{% block javascript %}

{% endblock %}