{% block stylesheet %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/statsgenerales.css">



{% endblock %}


{% block body %}

    <div class="container-fluid">
        <ul class="score-board">
            <li class="team-home">RCSA</li>
            <li class="score">20 - 0</li>
            <li class="team-visitor">FCB</li>
            <li class="info">06/06/06</li>
        </ul>
    </div

    <br><br><br><br><br><br><br><br><br>


    <div class="stats">
        <div class="statsshow">
            <h1><a href="https://media1.tenor.com/images/1d32658488e3814fd3a96b3f95024fa3/tenor.gif?itemid=8170185">POSSESSION</h1>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 40%">
                    <p>40%</p>
                </div>
                <div class="progress-bar progress-bar" style="width: 60%">
                    <p>60%</p>
                </div>
            </div>

            <br><br>

            <h1><a href="https://soundcloud.com/kyle-brace">TIRS</h1>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 99%">
                    <p>99%</p>
                </div>
                <div class="progress-bar progress-bar" style="width: 1%">
                    <p>1%</p>
                </div>
            </div>

            <br><br>


            <h1><a href="http://i0.kym-cdn.com/entries/icons/original/000/000/091/TrollFace.jpg"> RECUPERATIONS</h1>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 52%">
                    <p>52%</p>
                </div>
                <div class="progress-bar progress-bar" style="width: 48%">
                    <p>48%</p>
                </div>
            </div>

            <br><br>

            <h1><a href="https://www.arcinfo.ch/media/image/67/normal_16_9/booba_credit_nicolas_rivals.jpg"> CPA</h1>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 10%">
                    <p>10%</p>
                </div>
                <div class="progress-bar progress-bar" style="width: 90%">
                    <p>90%</p>
                </div>
            </div>


        </div>
    </div>





{% endblock %}


{% block javascript %}
<script src="../assets/js/menu.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



{% endblock %}
