{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/stats.css') }}">
{% endblock %}

{% block body %}

    {% include 'stats/base_stats.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div id="chart">


                    <ul class="bars">
                        <li>
                            <div data-height="0" class="bar">
                                <div class="per"></div>
                            </div>
                            <span></span>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-md-2 text-center">
                <a href="{{ path('statsmatch') }}">
                    <span class="glyphicon glyphicon-backward"></span></a>
            </div>


            <div class="col-md-5">
                <div id="chart">


                    <ul class="barsi">
                        <li>
                            <div data-height="0" class="bari">
                                <div class="peri"></div>
                            </div>
                            <span></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>






{% endblock %}


{% block javascripts %}
    <script src="{{ asset('build/recuperation.js') }}"></script>

{% endblock %}